<div class="container-box start-box">
    <div class="card-box">
      <h1 class="title-box">Zacznij programować już dziś!</h1>
      <p class="subtitle-box">Witaj na mojej  platformie! Jestem tu po to, aby pomóc Ci w rozwijaniu swoich umiejętności programistycznych.
         Dzięki mojej stronie możesz zyskać dostęp do atrakcyjnych zniżek na różnorodne kursy związane z programowaniem mojego autorstwa.</p>
        <a href="#kursy">
            <button class="btn-box">Sprawdź kursy</button>
        </a>
    </div>
</div>