<div class="form-group">
    <label for="exampleInputEmail1">Adres email</label>
    <div class="d-flex"> 
        <input type="email" class="form-control d-inline-block w-50" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Wprowadź email">
        <span style="width: 10px;"></span>
        <button class="btn-box d-inline-block">Subskrybuj</button>
    </div>
    <small id="emailHelp" class="form-text text-muted">Email będzię używany jedynie do powiadomień o nowych kursach i promocjach.</small>
  </div>