<div class="container-box">
    <div class="card-box">
        <h1 class="title-box">Cześć, jestem Coffee Code</h1>
        <p class="subtitle-box">Na co dzień zajmuję się programowaniem w Java, wykorzystując technologie Spring i Quarkus. Mam również doświadczenie w pracy z narzędziami do tworzenia aplikacji front-end, szczególnie Angular. Jednak to tylko część mojego życia jako programisty.
            Po godzinach lubię angażować się w różnorodne projekty, które wykraczają poza tradycyjne obszary back-end i front-end. Moje zainteresowania obejmują tworzenie gier komputerowych oraz programowanie mikrokontrolerów, co pozwala mi eksplorować różne aspekty programowania i technologii.
            Zawodowo pracuję jako java developer, wdrażając swoje umiejętności w obszarze aplikacji webowych i usług. Być może znasz mnie z kursów, które publikuję na platformie Udemy, gdzie dzielę się swoją wiedzą i doświadczeniem z innymi pasjonatami programowania.</p>
    </div>
</div>