<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="container text-center mb-5">
    <h1 class="text-center">Kursy</h1>
    <label class="text-center m-auto">Wszystkie kursy są dostępne do zakupienia w promocyjnej cenie na platformie Udemy.</label>
</div>
<div class="container expander-card text-center mb-0">
    <div class="row">
      <div class="col-sm d-flex align-items-center">
        <img class="img-responsive d-inline-block" src="https://poznaj-programowanie.netlify.app/assets/angular-kurs.png">
        <label class="d-inline-block">(2023) Angular i Java Spring Od zera do Fullstack developera</label>
      </div>
      <div class="col-sm m-auto">
        <label>Stopien wejściowy: Nie wymagany</label>
      </div>
      <div class="col-md-auto m-auto">
        <label>Cena:<s style="color:#ff471e">79.99</s> 49.99 zł</label>
      </div>
    </div>
    <div class="row">
        <div class="col-sm mt-5 mb-2">Kurs składa się z ponad 40 godzin materiałów wideo dostępnych od ręki. Jest to najaktualniejszy kurs na Udemy dostępny w języku polskim, który przedstawia pracę z framework'ami Angular oraz Spring od podstaw do zaawansowanych konceptów. Oprócz tego materiały prezentują także, jak pracować z wykorzystaniem narzędzia Docker, jak wykorzystywać serwer FTP do zapisywania plików w postaci zdjęć, którę są następnie wyswietlane w aplikacji i wiele więcej! Kurs składa się z trzech etapów: Nauka Angular od podstaw, Nauka Spring (Java) od podstaw oraz Projekt wspólny. W ramach projektu wspólnego jest realizowany sklep internetowy, który pozwala użytkownikom utworzyć nowe konto, zamówić wybrane przedmioty i przejść przez proces płatności zintegrowany z PayU.</div>
    </div>
    <div class="col-md-auto m-auto">
        <form action="https://www.udemy.com/course/angular-i-java-spring-od-zera-do-fullstack-developera/?referralCode=FC18C373C3FB0B326171&couponCode=POZNAJPROGRAMOWANIE">
        <button type="submit" class="btn-box" id="button1">Kup kurs</button>
    </form>
  </div>
    <div class="row justify-content-center mt-3">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/NSBKpVErN2c?si=Z9jABmqZQj8l5oBL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>
